@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap");
/* font-family: 'Nunito Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
/* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@400;500;600;700&display=swap");
/* font-family: 'Hind Guntur', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: hsl(0, 2%, 22%);
  color: hsl(0, 0%, 95%);
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 48px;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 34px;
  color: hsl(358, 68%, 55%);
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

h4 {
  font-size: 24px;
}

h5 {
  margin-top: 8px;
  font-size: 18px;
  font-family: "Hind Guntur", sans-serif;
  line-height: 1.4;
  overflow-y: hidden;
}

p {
  font-family: "Hind Guntur", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

b {
  font-weight: 800;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

select {
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: hsl(358, 68%, 55%);
  box-shadow: 0 1px 3px hsl(0, 0%, 10%);
  color: hsl(0, 0%, 90%);
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

select:focus {
  outline: none;
}

label {
  font-family: "Hind Guntur", sans-serif;
  line-height: 1.1;
  font-weight: 700;
  color: hsl(0, 0%, 60%);
  min-height: 25px;
  overflow-y: hidden;
}

.small-label {
  font-size: 16px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

input {
  height: 32px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 0 8px;
  background-color: hsl(0, 0%, 18%);
  border: none;
  border-radius: 4px;
  color: hsl(0, 0%, 95%);
  box-shadow: 0 1px 5px hsl(0, 0%, 10%);
}

input:focus {
  outline: none;
}

input[type="checkbox"] {
  box-shadow: none;
}

.col {
  display: flex;
  flex-direction: column;
}

.membership__option {
  display: none;
}

/* Style the custom radio button */
.membership__option + label {
  position: relative;
  padding: 0 20px 0 32px;
  cursor: pointer;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
}

/* Style the custom dot for the radio button */
.membership__option + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 43%);
  background-clip: padding-box;
}

.membership__option:checked + label::before {
  background-color: hsl(0, 0%, 80%);
  border: 2px hsl(0, 0%, 43%) solid;
  box-shadow: inset 0 1px 1px 1px hsl(0, 0%, 18%), inset 0 -1px 1px 1px hsl(0, 0%, 25%);
}

.platinum-radio + label::before {
  border: 2px hsl(188, 30%, 33%) solid;
}

.platinum-radio + label {
  color: hsl(189, 25%, 62%);
}

.platinum-radio:checked + label::before {
  background-color: hsl(189, 25%, 62%);
  border: 2px hsl(188, 30%, 33%) solid;
}

.diamond-radio + label::before {
  border: 2px hsl(235, 42%, 45%) solid;
}

.diamond-radio + label {
  color: hsl(235, 100%, 76%);
}

.diamond-radio:checked + label::before {
  background-color: hsl(235, 100%, 76%);
  border: 2px hsl(235, 42%, 45%) solid;
}

.gold-radio + label::before {
  border: 2px hsl(36, 44%, 43%) solid;
}

.gold-radio + label {
  color: hsl(36, 61%, 65%);
}

.gold-radio:checked + label::before {
  background-color: hsl(36, 61%, 65%);
  border: 2px hsl(36, 44%, 43%) solid;
}

.silver-radio + label::before {
  border: 2px hsl(0, 0%, 43%) solid;
}

.silver-radio + label {
  color: hsl(0, 0%, 80%);
}

.silver-radio:checked + label::before {
  background-color: hsl(0, 0%, 80%);
  border: 2px hsl(0, 0%, 43%) solid;
}

.red-radio + label::before {
  border: 2px hsl(358, 37%, 34%) solid;
}

.red-radio + label {
  color: hsl(358, 68%, 55%);
}

.red-radio:checked + label::before {
  background-color: hsl(358, 68%, 55%);
  border: 2px hsl(358, 37%, 34%) solid;
}

.container {
  width: 100%;
}

.row {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px;
}

/* NAV */

nav {
  height: 156px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 16px;
}

.header__logo--img {
  width: 100%;
  max-width: 400px;
}

/* LANDING */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  background-color: hsl(15, 3%, 24%);
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 2px 0 0 hsl(0, 0%, 28%), inset 0 2px 2px 1px hsl(0, 0%, 18%);
  margin-bottom: 80px;
  position: relative;
}

.loading form {
  display: none;
}

.success form {
  display: none;
}

.form__error {
  display: none;
}

.error .form__error {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loading .form__loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error .form__loading {
  visibility: hidden;
  display: none;
}

.success .form__loading {
  align-items: center;
  visibility: hidden;
  display: none;
}

.success .form__success {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form__success {
  display: none;
}

.fa-solid {
  font-size: 40px;
  margin-right: 8px;
}

.fa-spinner {
  animation-name: spin;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loading .container {
  height: calc(100vh - 300px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.success .container {
  display: flex;
  align-items: start;
}

.venmo__img {
  height: 200px;
  border-radius: 20px;
  margin-top: 16px;
}

.form__loading {
  display: none;
}

.form__title {
  text-align: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin: 24px 0;
}

.form-row:first-child {
  margin-top: 16px;
}

.checkbox-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.half-size {
  width: 50%;
}

.full-size {
  width: 100%;
}

.margin-left {
  margin-left: 24px;
}

.large-label {
  font-size: 20px;
}

.checkbox--container:last-child {
  margin-left: 40px;
}

.membership__select {
  display: flex;
  align-items: center;
}

.membership__select--wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 330px;
}

.membership__broad {
  margin-left: 16px;
  width: 30%;
  max-width: 128px;
  height: 36px;
}

.membership {
  margin-left: 24px;
  display: flex;
  justify-content: space-between;
}

.membership__tier-1 {
  height: 0;
  width: 0;
  opacity: 0;
  margin-left: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in;
}

.tier-1 .membership__tier-1 {
  height: fit-content;
  width: fit-content;
  opacity: 1;
  visibility: visible;
  margin-left: 16px;
}

.membership__tier-2 {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease;
  margin-left: 0;
}

.tier-2 .membership__tier-2 {
  height: fit-content;
  width: fit-content;
  opacity: 1;
  visibility: visible;
  margin-left: 16px;
}

.membership__tier-3 {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease;
  margin-left: 0;
}

.tier-3 .membership__tier-3 {
  height: fit-content;
  width: fit-content;
  opacity: 1;
  visibility: visible;
  margin-left: 16px;
}

.membership__option {
  margin-left: 24px;
}

.benefits {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms;
}

.show-benefits .benefits {
  height: fit-content;
  visibility: visible;
  opacity: 1;
}

.show-benefits .benefits__empty-state {
  display: none;
}

.benefits__title {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.hide-sponsorship .benefit__sponsorship {
  display: none;
}

.hide-sponsorship .benefit {
  width: calc(100% / 3);
  padding: 16px 40px 40px 40px;
}

.benefit:last-child {
  margin-right: 0;
}

.benefits__list {
  display: flex;
  margin-bottom: 0;
}

.benefit {
  background-color: hsl(0, 0%, 18%);
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
  margin-right: 8px;
  border-radius: 16px;
  margin-right: 1%;
  padding: 16px 16px 40px 16px;
  box-shadow: 0 2px 0 0 hsl(0, 0%, 28%), inset 0 2px 2px 1px hsl(0, 0%, 10%);
  overflow-y: hidden;
}

.benefit__title {
  margin-bottom: 24px;
}

.benefit__para {
  text-align: left;
  overflow-y: hidden;
}

.benefits__box {
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 16px;
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  box-shadow: 0 1px 5px hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 25%);
}

.benefits__box--alert {
  color: hsl(0, 0%, 60%);
}

.submit__button {
  font-size: 20px;
  padding: 8px 12px;
  align-self: center;
  border-radius: 4px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background-color: hsl(358, 68%, 55%);
  color: hsl(0, 0%, 95%);
  box-shadow: 0 1px 2px hsl(0, 0%, 10%);
  transition: all 300ms ease;
}

.submit__button:hover {
  background-color: hsl(0, 0%, 95%);
  color: hsl(358, 68%, 55%);
}

.submit__button:focus {
  background-color: transparent;
}

@media(max-width: 970px){

}

/* TABLETS */
@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 28px;
    color: hsl(358, 68%, 55%);
  }

  h3 {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    margin-top: 8px;
    font-size: 18px;
    font-family: "Hind Guntur", sans-serif;
    line-height: 1.4;
  }

  p {
    font-family: "Hind Guntur", sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  .membership__select{
    flex-direction: column;
  }

  .membership__select--wrapper{
    margin-bottom: 24px;
  }

  form{
    padding: 16px;
    border-radius: 20px;
  }



  .benefits__list{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .benefit{
    width: 49%;
    margin-top: 24px;
    overflow-y: hidden;
  }

  .benefits__title{
    margin-bottom: 0;
  }

  .hide-sponsorship .benefit {
    width: 49%;
  }

}

@media(max-width: 560px){
  .row{
    padding: 0;
  }
  form{
    padding: 40px 16px;
  }
  .form-row{
    flex-direction: column;
  }

  .margin-left{
    margin-left: 0;
    margin-top: 24px;
  }

  .half-size{
    width: 100%;
  }

  .checkbox-row{
    flex-direction: row;
  }

  .mobile-row{
    flex-direction: row;
  }

  .mobile-half-size{
    width: 50%;
  }

  .mobile-margin-left{
    margin-top: 0;
    margin-left: 8px;
  }

  .membership__data{
    padding: 0 16px;
  }

}

@media(max-width:460px){
  .benefit{
    width: 100%;
    overflow-y: hidden;
  }

  .hide-sponsorship .benefit {
    width: 100%;
    overflow-y: hidden;
  }
}

@media(max-width: 415px){
  .checkbox-row{
    flex-direction: row;
  }

  .small-label{
    font-size: 12px;
  }
}